{% load static %}
{% include 'inc/_header.html' %}
<!-- Register start -->
<div class="container-xxl py-5 register">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Reset Password</h6>
            <h1 class="mb-5">Reset your Password</h1>
        </div>
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                {% for message in messages%}
                <div class="alert alert-danger" role="alert">
                    {{message}}
                </div>
                {% endfor %}
                <form action="{% url 'account:reset_password' %}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                         <div class="col-12 mb-4">
                            <div class="form-floating">
                                <input type="password" class="form-control" name="create_password" id="createpassword"
                                    placeholder="New Password">
                                <label for="createpassword">New Password</label>
                            </div>
                        </div>
                         <div class="col-12 mb-4">
                            <div class="form-floating">
                                <input type="password" class="form-control" name="confirm_password" id="confirm_password"
                                    placeholder="Confirm Password">
                                <label for="confirm_password">Password</label>
                            </div>
                        </div>

                        <div class="col-12 mb-4">
                            <button class="btn btn-primary w-100 py-3" type="submit">Submit</button>
                        </div>

                    </div>
                </form>
                <div class="col-12 my-4">
                    <p class="text-center m-0">New user ? <a href="{% url 'account:signup' %}">Create an account</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Register end -->

{% include 'inc/_footer.html' %}